.myBG {
    height: 100vh;
    background: url("../assets/bg/chicago.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.trending {
    height: auto;
    background-color: darkslategray;
}

.superhero {
    background-color: darkslategray;
}

.movieSearch{
    display: flex;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    height: 35px;
}

.overview {
    height: 195px;
    overflow: hidden;
}

.cardTitle{
    height: 50px;
    background-color: red;
}

.images{
    pointer-events: none;
}

.swiper-button-next {
  width: 100px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 0px !important;
}

.swiper-button-prev {
    width: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    left: 1000px !important;
    bottom: 0px !important;
    background-color: red !important;
}

.buttonSwiper {
    position: absolute;;
    width: 100px;
    right: 110px;
    display: grid;
    justify-content: end;
    gap: 5px;
}

.swiperLeft {
    position:absolute;
}

.upcoming{
    background-color: darkslategray;
}

.container-upcoming {
    height:auto;
    padding-bottom: 50px;
}

.buttonSwiper {
    background-color: black;
}

.swiperLeftUpcoming {
    position:absolute;
}

